@use '../../styles/index' as *;

.catalog {
  padding: 1rem 0;

  h2 {
    margin-bottom: 1rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;

  @media (max-width: $mobile-break) {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

.link {
  display: block;
  text-decoration: none;
  color: inherit;
}
