@import './variables';

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;
}

html, body {
  background: #fafafa !important;
  color: #333 !important;
}
@media (prefers-color-scheme: dark) {
  html, body {
    background: #fafafa !important;
    color: #333 !important;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}