@use './index' as *;

/* Reset & global */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  color: $text-dark;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;
}

.main-content {
  flex: 1;
}