@use '../../styles/variables' as *;

.quickActions {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0.25rem 0;
  justify-content: flex-start;
}

.action {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: background 0.2s, transform 0.2s;
  border-radius: 4px;
  padding: 0.2rem;

  &:hover {
    background: $gray-light;
    transform: translateY(-1px);
  }
}

.icon {
  font-size: 1.25rem;
  color: $text-dark;
}

.label {
  margin-top: 0.1rem;
  font-size: 0.7rem;
  color: $text-dark;
}

@media(max-width: $mobile-break) {
  .quickActions {
    align-content: center;
    justify-content: center;
  }
}